@charset "utf-8";
.container header  {
    background-color: #F4D0B2;
}
.container header nav {
    background-color: #F4D0B2;
}
.container #hero  {
    background-image: url(images/%E5%B0%81%E9%9D%A2.jpg);
}
.container #about {
    background-image: -webkit-linear-gradient(270deg,rgba(249,185,128,1.00) 0%,rgba(255,255,255,1.00) 100%);
    background-image: -moz-linear-gradient(270deg,rgba(249,185,128,1.00) 0%,rgba(255,255,255,1.00) 100%);
    background-image: -o-linear-gradient(270deg,rgba(249,185,128,1.00) 0%,rgba(255,255,255,1.00) 100%);
    background-image: linear-gradient(180deg,rgba(249,185,128,1.00) 0%,rgba(255,255,255,1.00) 100.00%);
}
.container .banner {
    background-image: url(images/%E5%B0%81%E9%9D%A2.jpg);
}
.container .copyright {
    background-color: #F4D0B2;
}
.container #contact {
    background-image: url(images/%E5%B0%81%E9%9D%A2.jpg);
}
